<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Candy Shop</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <a action="/views/shop.html" href="/views/shop.html">Shop</a>
    <a href="#">Add Item</a>
  </nav>
  <div class="container">
    <h2>Add Item</h2>
    <form>
      <div class="form-group">
        <label for="candy">Candy:</label>
        <input type="text" id="candy" name="candy" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" required>
      </div>
      <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>
      </div>
      <input type="hidden" id="id" name="id" >
      <button id="btn" type="submit" >Add Item</button>
    </form>
  </div>
  <script src="script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
</body>
</html>
