<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Candy Shop</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="styleshop.css">
</head>
<nav>
    <a action="/views/index.html" href="/views/shop.html">Shop</a>
    <a href="/views/index.html">Add Item</a>
  </nav>
  <br>
<body>
  <table>
    <tr>
      <th>Candy</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
      <input type="hidden" id="id" name="id" >
    </tr>
  </table>
<script src="shopScript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
</body>
</html>
